
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #9bd5b6;
}

.container {
    display: flex;
    flex: 1; /* Забезпечує розширення контейнера на всю доступну висоту */
}

header {
    background-color: #3a5744;
    color: white;
    padding: 30px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 30px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

aside {
    width: 250px;
    background-color: #ffffff;
    padding: 20px;
    border-right: 1px solid #ddd;
    height: 100vh; 
    box-sizing: border-box;
    position: sticky; 
    top: 0; 
}

aside h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333333;
    border-bottom: 2px solid #e2e2e2;
    padding-bottom: 5px;
}

.ducks-list {
    list-style: none;
    padding: 0;
}

.ducks-list li {
    margin: 8px 0;
}

.ducks-list li a {
    text-decoration: none;
    color: #555555;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.ducks-list li a::before {
    content: '🦆'; 
    margin-right: 8px;
    font-size: 16px;
}

.ducks-list li a:hover {
    color: #005b99;
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
}

article {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
}

article img {
    max-width: 100%;
    border-radius: 8px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    border: 1px solid #aeb6ae;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #3a5744;
    color: white;
}

footer {
    background-color: #3a5744;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: auto; 
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    aside {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }

    header {
        padding: 20px 0;
    }

    header h1 {
        font-size: 24px;
    }

    nav li {
        margin: 0 10px;
    }

    main {
        padding: 10px;
    }

    article {
        margin-bottom: 15px;
        padding: 10px;
    }

    article img {
        max-width: 100%;
        max-height: 300px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 5px;
    }

    footer {
        padding: 10px;
    }
}
